// Global Stylesheet

// Color Palette
$primary-color: white;
$secondary-color: #2f425a;
$tertiary-color: #fddc00;
$bodycopy: white;

//TYPOGRAPHY

h1 {
    color: white;
    font-family: 'Six Caps', sans-serif;
    padding: .75 em;
    text-align: center;
    display:block;
    font-size: 9em;
    
}

//HIDE FOR MOBILE/TABLET

article h1 {
    display: none;
}



// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}


// IMG STYLING

img {
    display: inline-block;
    width: 85px;
    margin-left: 15%;
    
}

    
p10 {
    font-size: 250px;
    display:block;
    text-align: center;
    color:$tertiary-color;
    margin-top: -.6em;

}

