// Global Stylesheet

// Color Palette
$primary-color: white;
$secondary-color: #2f425a;
$tertiary-color: #fddc00;
$bodycopy: white;

//TYPOGRAPHY

h1 {
    color: white;
    font-family: 'Six Caps', sans-serif;
    padding-left: .75 em;
    padding-top: none;
    text-align: center;
    display:block;
    font-size: 9em;
    
}


//LETTERING
span.char1 {
    
   
}
   





//HIDE FOR MOBILE/TABLET

article h1 {
    display: none;
}



// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}

// LINKS

li, a {
    color: $tertiary-color;
    list-style: none;
    display: inline-block;
    text-align: center;
    
}


// IMG STYLING

img {
    display: inline;
    width:25px;
    padding: 0;
    margin-right: 50px;
    margin-left: 30%;
    margin-bottom: 50%;
        
    
    
}

    
p10 {
    font-size: 175px;
    display:block;
    text-align: center;
    color:$tertiary-color; 
    margin-top: -.6em;

}

