// Global Stylesheet

// Color Palette
$primary-color: white;
$secondary-color: #2f425a;
$tertiary-color: #fddc00;
$bodycopy: white;

//TYPOGRAPHY

h1 {
    color: white;
    font-family: 'Six Caps', sans-serif;
    padding-bottom: 1em;
    text-align: center;
    display:block;
    
}

//HIDE FOR MOBILE/TABLET

article h1 {
    display: none;
}



// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}


// IMG STYLING

img {
    display: inline-block;
    width: 65px;
    
}

