/* Grand Central Station. TOC. Vertex. A Hub. */

@import "grid";
@import "player";
@import "global";
@import "media-queries";

body {
    background: $secondary-color;
}
h1 {
    color: $primary-color;
}
p {
    color: $bodycopy;
}