/* Grand Central Station. TOC. Vertex. A Hub. */

@import "grid";
@import "player";
@import "global";
@import "media-queries";

body {
    background: $secondary-color;
}

p {
    color: $bodycopy;
    font-family: garamond;
    font-style: none;
    
}
li, a {
    color: $tertiary-color;
    list-style: none;
    display: inline-block;
    padding:1em;
    text-align: center;
    
}